doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/foundation-6.2.3/css/foundation.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(type='javascript', src='/lib/foundation-6.2.3/js/vendor/foundation.min.js')
    script(type='javascript', src='/lib/foundation-6.2.3/js/vendor/jquery.js')
    script(type='javascript', src='/lib/foundation-6.2.3/js/vendor/what-input.js')
    //- script $(document).foundation()
  body
    block content
