@charset "UTF-8";
@font-face {
  font-family: 'obsidian-roman';
  src: url("../../fonts/obsidian/Obsidian-Roman.eot");
  src: url("../../fonts/obsidian/Obsidian-Roman.woff") format("woff"), url("../../fonts/obsidian/Obsidian-Roman.ttf") format("truetype"), url("../../fonts/obsidian/Obsidian-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham-medium';
  src: url("../../fonts/gotham/Gotham-Medium.eot");
  src: url("../../fonts/gotham/Gotham-Medium.woff") format("woff"), url("../../fonts/gotham/Gotham-Medium.ttf") format("truetype"), url("../../fonts/gotham/Gotham-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'qc-icons';
  src: url("../../fonts/icons/iconsicomoon.eot?fvpvn2");
  src: url("../../fonts/icons/icomoon.eot?fvpvn2#iefix") format("embedded-opentype"), url("../../fonts/icons/icomoon.ttf?fvpvn2") format("truetype"), url("../../fonts/icons/icomoon.woff?fvpvn2") format("woff"), url("../../fonts/icons/icomoon.svg?fvpvn2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'qc-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Sentinel-Light';
  src: url("../../fonts/sentinel/Sentinel-Light.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-Light.woff") format("woff"), url("../../fonts/sentinel/Sentinel-Light.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-LightItalic';
  src: url("../../fonts/sentinel/Sentinel-LightItalic.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-LightItalic.woff") format("woff"), url("../../fonts/sentinel/Sentinel-LightItalic.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Book';
  src: url("../../fonts/sentinel/Sentinel-Book.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-Book.woff") format("woff"), url("../../fonts/sentinel/Sentinel-Book.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-BookItalic';
  src: url("../../fonts/sentinel/Sentinel-BookItalic.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-BookItalic.woff") format("woff"), url("../../fonts/sentinel/Sentinel-BookItalic.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-BookItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Medium';
  src: url("../../fonts/sentinel/Sentinel-Medium.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-Medium.woff") format("woff"), url("../../fonts/sentinel/Sentinel-Medium.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-MediumItalic';
  src: url("../../fonts/sentinel/Sentinel-MediumItalic.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-MediumItalic.woff") format("woff"), url("../../fonts/sentinel/Sentinel-MediumItalic.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-MediumItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Semibold';
  src: url("../../fonts/sentinel/Sentinel-Semibold.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-Semibold.woff") format("woff"), url("../../fonts/sentinel/Sentinel-Semibold.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-SemiboldItalic';
  src: url("../../fonts/sentinel/Sentinel-SemiboldItalic.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-SemiboldItalic.woff") format("woff"), url("../../fonts/sentinel/Sentinel-SemiboldItalic.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-SemiboldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Bold';
  src: url("../../fonts/sentinel/Sentinel-Bold.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-Bold.woff") format("woff"), url("../../fonts/sentinel/Sentinel-Bold.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-BoldItalic';
  src: url("../../fonts/sentinel/Sentinel-BoldItalic.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-BoldItalic.woff") format("woff"), url("../../fonts/sentinel/Sentinel-BoldItalic.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-Black';
  src: url("../../fonts/sentinel/Sentinel-Black.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-Black.woff") format("woff"), url("../../fonts/sentinel/Sentinel-Black.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Sentinel-BlackItalic';
  src: url("../../fonts/sentinel/Sentinel-BlackItalic.eot");
  src: local("☺"), url("../../fonts/sentinel/Sentinel-BlackItalic.woff") format("woff"), url("../../fonts/sentinel/Sentinel-BlackItalic.ttf") format("truetype"), url("../../fonts/sentinel/Sentinel-BlackItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: gotham-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin: 0; }

a:hover {
  list-decoration: none;
  color: #91cfcd; }

a {
  color: #909090; }

.full-width {
  margin: 0 auto;
  max-width: 1170px; }

ul {
  margin: 0; }

li {
  list-style: none; }

.main-content {
  margin: 0 0 60px; }

.qc-logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.qc-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  min-width: 440px;
  font-family: obsidian-roman;
  font-size: 3rem;
  text-transform: none;
  line-height: 1.5; }
  .qc-logo a {
    color: #3e3934;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    .qc-logo a:hover {
      color: #4b2d1e;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear; }

.qc-nav {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1; }

.qc-nav-top-wrap {
  margin: 0 auto;
  border-bottom: 1px solid #d0d0d0; }

.qc-nav-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px; }

.qc-nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px; }

.qc-logo-wrap {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 60px; }

.qc-nav-right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .qc-nav-right-wrap .my-account, .qc-nav-right-wrap .login-register, .qc-nav-right-wrap .shopping-cart, .qc-nav-right-wrap .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px; }
  .qc-nav-right-wrap .register {
    margin-left: 15px;
    margin-right: 15px; }
    .qc-nav-right-wrap .register:before {
      content: '|';
      color: #d0d0d0;
      margin-right: 15px; }

.my-account {
  margin-right: 15px; }

.qc-nav-bottom {
  width: 100%; }
  .qc-nav-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.qc-main-nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 45px 0 15px; }

.menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu ul {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.stripes-wrap {
  width: 100%; }

.stripes {
  height: 9px;
  background: -webkit-linear-gradient(315deg, #fff 0.1em, #d0d0d0 0, #d0d0d0 calc(50% - .1em), #fff 0, #fff calc(50% + .1em), #d0d0d0 0, #d0d0d0 calc(100% - .1em), #fff 0);
  background: linear-gradient(135deg, #fff 0.1em, #d0d0d0 0, #d0d0d0 calc(50% - .1em), #fff 0, #fff calc(50% + .1em), #d0d0d0 0, #d0d0d0 calc(100% - .1em), #fff 0);
  background-size: 0.5em 0.5em;
  border-top: 1px solid #d0d0d0; }

.shopping-cart, .search {
  color: #909090;
  cursor: pointer; }
  .shopping-cart:hover, .search:hover {
    color: #91cfcd; }

.search {
  font-size: 1.75em; }

.shopping-cart {
  font-size: 2em; }

.icon-search:before {
  content: "\e900"; }

.icon-shopping_cart:before {
  content: "\e901"; }

.cart-digit {
  font-family: "Sentinel-Black", serif;
  color: #f5c685;
  margin-left: 4px;
  margin-right: 8px; }

.hero {
  padding: 30px 15px;
  height: 600px;
  width: 100%; }
  .hero img {
    background-size: cover; }

.col-head {
  font-family: "Sentinel-Black", serif;
  color: #8a8682;
  text-transform: uppercase; }

.footer-content-wrap {
  margin-top: 15px; }

.footer a {
  font-size: 13px; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px; }

.copy {
  color: #8a8682;
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  border-top: 1px solid #b1b1b1; }

form.join-newsletter label {
  font-family: "Sentinel-Black", serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #8a8682; }
form.join-newsletter input {
  height: 29px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid #e8e8e8; }
form.join-newsletter button {
  background-color: #91cfcd;
  color: #fff;
  height: 29px;
  width: 40px; }
  form.join-newsletter button:hover {
    background-color: #7fc7c5; }

.subscribe-social {
  padding-right: 20px;
  border-right: 1px solid #d0d0d0; }
