mixin footer()
	.stripes-wrap
		.stripes
	footer.footer
		.footer-content-wrap
			.footer-content.full-width
				.col00.subscribe-social
					.subscribe
						form.join-newsletter
							label Join Quirky’s Newsletter
							.input-btn-wrap
								input(placeholder='Email Address')
								button: span.icon-mail
					.social
							span: a(href='#').facebook.icon-facebook-with-circle
							span: a(href='#').twitter.icon-twitter-with-circle
							span: a(href='#').instagram.icon-instagram-with-circle
				.footer-right-wrap
					.col01.footer-right-col
						p.col-head Quirky’s Coffee
						ul
							li: a Shop Now
							li: a About Us
							li: a Contact Us
							li: a Wholesale Request
					.col02.footer-right-col
						p.col-head Shop With Us
						ul
							li: a View Cart
							li: a My Account
							li: a Order Tracking
					.col03.footer-right-col
						p.col-head Helpful Info
						ul
							li: a Help/FAQ
							li: a Privacy Policy
							li: a Terms & Conditions
			.copy © 2016 Quirky’s Coffee