// BASE
body {
	font-family: gotham-medium;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
	margin: 0;
}
a:hover {
	list-decoration: none;
	color: #91cfcd
}
a {
	color:#909090
}
.full-width {
	margin: 0 auto;
	max-width: 1170px;
}
ul {
	margin: 0;
}
li {
	list-style: none;
}

.main-content {
	margin: 0 0 30px;
}

.qc-logo-wrap {
	display: flex;
}
.qc-logo {
	align-items: center;
	min-width: 440px;
  font-family: obsidian-roman;
	font-size: 3rem;
	text-transform: none;
	line-height: 1.5;
	a {
		color: #3e3934;
			transition: all 0.1s linear;
		&:hover {
			color: #4b2d1e;
			transition: all 0.1s linear;
		}
	}
}

// FONTS



// NAV
.qc-nav {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	li {
	}
}

.qc-nav-top-wrap {
	margin: 0 auto;
	border-bottom: 1px solid #d0d0d0;
}
.qc-nav-bottom-wrap {
	display: flex;
	height: 50px;
	// border-bottom: 1px solid #d0d0d0;
}

.qc-nav-top {
	display: flex;
	padding: 0 15px;
}
.qc-logo-wrap {
	justify-content: flex-start;
	margin-left: 60px;
}
.qc-nav-right-wrap {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
	.my-account, .login-register, .shopping-cart, .search {
		display: flex;
		margin-left: 15px;
	}
	.register {
		margin-left: 15px;
		margin-right: 15px;
		&:before{
			content: '|';
			color: #d0d0d0;
			margin-right: 15px;
		}
	}
}
.my-account {
	margin-right: 15px;
}

.qc-nav-bottom {
	width: 100%;
	ul {
		display: flex;
	}
}
.qc-main-nav {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 45px 0 15px;
}
.menu {
	height: 100%;
	width: 100%;
	display: flex;
	ul {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			height:50px;
			a {
				height:100%;
				display:flex;
				align-items:center;
			}
		}
	}
}

.stripes-wrap {
	// height: 50px;
	width: 100%;
}
.stripes {
	height: 9px;
	background: linear-gradient(135deg, 
		#fff .1em /* black corner */, 
		#d0d0d0 0, #d0d0d0 calc(50% - .1em) /* blue stripe */, 
		#fff 0, #fff calc(50% + .1em) /* black stripe */, 
		#d0d0d0 0, #d0d0d0 calc(100% - .1em) /* blue stripe */, 
		#fff 0 /* black corner */
	);
	background-size: 0.5em 0.5em;
	// background-size: .75em/sqrt(2) .75em/sqrt(2);
	border-top: 1px solid #d0d0d0;
}

.shopping-cart, .search {
	color:#909090;
	cursor: pointer;
	&:hover {
	color: #91cfcd;
	}
}
.search {
	font-size: 1.75em;	
}
.shopping-cart {
	font-size: 2em;
}

.cart-digit {
	// font-family: numbers;
	font-family: $serifBlack;
	font-size: .9em;
	color: #7fc7c5;
	margin-left: 1px;
	margin-right: 8px;
}


.hero {
	padding: 25px 15px 0;
	height: 700px;
	width: 100%;
	img {
		background-size: cover;
	}
}

.col-head {
	font-family: $serifBlack;
	color:rgb(138,134,130);
	text-transform: uppercase;
}
.footer-content-wrap{
	margin-top: 15px;
}
.footer {

	a {
		font-size: 13px;
	}
}
.footer-content{
	display: flex;
	// justify-content: space-between;
	margin-bottom: 15px;
  padding: 0 15px;
	.col00 {
		margin-right: 25px;
	}
}

.copy {
	color: #8a8682;
	font-size: 14px;
	text-align: center;
	padding: 15px 0;
	width:100%;
	border-top:1px solid #d0d0d0;
}

.footer-right-wrap {
	display: flex;
	.footer-right-col {
		margin-right: 50px;
	}
}

form.join-newsletter {
	label {
		font-family: $serifBlack;
		font-size:16px;
		text-transform: uppercase;
		color: rgb(138,134,130);
	}
	input {
		height: 32px;
		padding: 0;
		padding-left:10px;
		border: 1px solid #e8e8e8;
		&:focus{
			outline-style: none;
			border-color: #91cfcd;
		}
	}
	button {
		background-color:rgb(145, 207, 205);
		color: #fff;
		height: 32px;
		width: 44px;
		&:hover{
			background-color:rgb(127,199,197);
		}
		.icon-mail{
			font-size:1.25em;
		}
	}
}
.input-btn-wrap{
	display:flex;
}

.subscribe-social{
	padding-right: 20px;
	border-right: 1px solid #d0d0d0;
}

.col00 {

}
.col01, .col02, .col03 {

}

.social {
	display:flex;
	margin-top: .6em;
	span a {
		font-size: 2em;
		margin-left: .4em;
	}
}
.facebook{
	color:#3B5998;
	&:hover {
		color:#3B5998;
	}
}
.twitter{
	color:#55ACEE;
	&:hover {
		color:#55ACEE;
	}
}
.instagram{
	color:#c2318c;
	&:hover {
		color:#c2318c;
	}
}