// BASE
body {
	font-family: gotham-medium;
}

a:hover {
	list-decoration: none;
	color: #91cfcd
}
a {
	color:#909090
}
.full-width {
	margin: 0 auto;
	max-width: 1170px;
}
ul {
	margin: 0;
}

.qc-logo-wrap {
	display: flex;
}
.qc-logo {
	align-items: center;
	min-width: 440px;
  font-family: obsidian-roman;
	font-size: 3rem;
	text-transform: none;
	line-height: 1.5;
	a {
		color: #3e3934;
			transition: all 0.1s linear;
		&:hover {
			color: #4b2d1e;
			transition: all 0.1s linear;
		}
	}
}

// FONTS



// NAV
.qc-nav {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	li {
	}
}

.qc-nav-top-wrap {
	margin: 0 auto;
	border-bottom: 1px solid #d0d0d0;
}
.qc-nav-bottom-wrap {
	display: flex;
	height: 50px;
	border-bottom: 1px solid #d0d0d0;
}

.qc-nav-top {
	display: flex;
	padding: 0 15px;
}
.qc-logo-wrap {
	justify-content: flex-start;
	margin-left: 60px;
}
.qc-nav-right-wrap {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
	.my-account, .login-register, .shopping-cart, .search {
		display: flex;
		margin-left: 15px;
	}
	.register {
		margin-left: 15px;
		margin-right: 15px;
		&:before{
			content: '|';
			color: #d0d0d0;
			margin-right: 15px;
		}
	}
}
.my-account {
	margin-right: 15px;
}

.qc-nav-bottom {
	width: 100%;
	ul {
		display: flex;
	}
	li {
		list-style: none;
	}
}
.qc-main-nav {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 45px 0 15px;
}
.menu {
	height: 100%;
	width: 100%;
	display: flex;
	ul {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
		}
	}
}

.stripes-wrap {
	// height: 50px;
	width: 100%;
}
.stripes {
	height: 6px;
	background: linear-gradient(135deg, 
		#fff .1em /* black corner */, 
		#d0d0d0 0, #d0d0d0 calc(50% - .1em) /* blue stripe */, 
		#fff 0, #fff calc(50% + .1em) /* black stripe */, 
		#d0d0d0 0, #d0d0d0 calc(100% - .1em) /* blue stripe */, 
		#fff 0 /* black corner */
	);
	background-size: 0.5em 0.5em;
	// background-size: .75em/sqrt(2) .75em/sqrt(2);
}

.shopping-cart, .search {
	color:#909090;
	cursor: pointer;
	&:hover {
	color: #91cfcd;
	}
}
.search {
	font-size: 1.75em;	
}
.shopping-cart {
	font-size: 2em;
}

.icon-search:before {
  content: "\e900";
}
.icon-shopping_cart:before {
  content: "\e901";
}
.cart-digit {
	color: #f5c685;
	margin-left: 4px;
	margin-right: 8px;
}


.hero {
	padding: 30px 15px;
	height: 600px;
	width: 100%;
	img {
		background-size: cover;
	}
}