include ./includes/layout
include ./mixins/mixins

block content
  //- +nav()
  #nav
    .nav
      .nav-top
        .logo-wrapper
        ul
          li link 1
          li link 2
          li link 3
  h1= title
    p Welcome to #{title}

